# Problem1 call

In [5]:
run Problem1.py "abced eddd" "ed" "f"

The given text:abced eddd
First word:ed
Second word:f
Output string:abcf fdd

# Problem2

## 1)

In [39]:
import datetime
import calendar
import time

## 2)

### a)

In [9]:
bday = datetime.date(1999, 3, 8)
print(bday)

1999-03-08

### b)

In [11]:
bday.year

1999

### c)

In [14]:
bday.month

3

### d)

In [16]:
bday.day

8

### e)

In [40]:
weekday = calendar.day_name[bday.weekday()]

weekday

'Monday'

### f)

In [36]:
thisbday = datetime.date(2021,3,8)
thisbday - today

datetime.timedelta(days=15)

## 3)

In [43]:
 print(calendar.month(2017,5))

      May 2017
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

## 4)

In [53]:
delta1 = datetime.timedelta(days = 1)
yday = datetime.date.today() - delta1
print(yday)
print(datetime.datetime.today())

2021-02-20
2021-02-21 00:13:01.153031

### a)

In [55]:
delta2 = datetime.timedelta(days = 2)
yday + delta2

datetime.date(2021, 2, 22)

### b)

In [57]:
delta3 = datetime.timedelta(days = 3)
yday - delta3

datetime.date(2021, 2, 17)

# Problem3

## 1)

In [74]:
a = [1, 4, 5, 7, 8, -2, 0, -1]

## 2)

In [75]:
print(a[2])
print(a[4])

5
8

## 3)

In [77]:
a_sorted = sorted(a,reverse = True)
a_sorted
print(a_sorted)
print(a)

[8, 7, 5, 4, 1, 0, -1, -2]
[1, 4, 5, 7, 8, -2, 0, -1]

## 4)

In [80]:
print(a_sorted[1:4])
print(a_sorted[2:7])

[7, 5, 4]
[5, 4, 1, 0, -1]

## 5)

In [81]:
del a_sorted[2:4]

[8, 7, 1, 0, -1, -2]

## 6)

In [82]:
print(a_sorted)

[8, 7, 1, 0, -1, -2]

## 7)

In [83]:
b = ["grapes","Potatoes", "tomatoes", "Orange", "Lemon", "Broccoli", "Carrot","Sausages"]

['grapes',
 'Potatoes',
 'tomatoes',
 'Orange',
 'Lemon',
 'Broccoli',
 'Carrot',
 'Sausages']

## 8)

In [85]:
b_sorted = sorted(b)
print(b_sorted)
print(b)

['Broccoli', 'Carrot', 'Lemon', 'Orange', 'Potatoes', 'Sausages', 'grapes', 'tomatoes']
['grapes', 'Potatoes', 'tomatoes', 'Orange', 'Lemon', 'Broccoli', 'Carrot', 'Sausages']

## 9)

In [86]:
c = a[1:4] + b[4:7]

## 10)

In [89]:
c

[4, 5, 7, 'Lemon', 'Broccoli', 'Carrot']

# Problem 4

In [109]:
market = {"dairy": ["yogurt", "cheese"], "fruits": ["banana", "apple", "orange", "lemon",
"apple", "banana", "banana"]}
market

{'dairy': ['yogurt', 'cheese'],
 'fruits': ['banana', 'apple', 'orange', 'lemon', 'apple', 'banana', 'banana']}

In [110]:
print(market)

{'dairy': ['yogurt', 'cheese'], 'fruits': ['banana', 'apple', 'orange', 'lemon', 'apple', 'banana', 'banana']}

In [111]:
market["candies"] = ["mars", "kinder", "twix"]

In [112]:
market["fruits"] = list(set(market["fruits"]))
market["fruits"].sort()

In [113]:
print(market)

{'dairy': ['yogurt', 'cheese'], 'fruits': ['apple', 'banana', 'lemon', 'orange'], 'candies': ['mars', 'kinder', 'twix']}